#opening-hours > h3{
    color: #dfaa0d;
    text-decoration: underline;
}

#opening-hours, #address, #map, #contact-details{
    display:flex;
    flex-direction: column;
}

#mapid{
  height: 400px;
}

label{
    display: inline-block;
    width:100px;
    text-align: right;
}

.col-25{
  float: left;
  width: 35%;
  margin-top: 6px;
}

.col-75{
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}

label{
  padding: 6px 6px 6px 0;
  display: inline-block;
}

#contact-input > input{
  width: 100%;
  padding: 12px;
  resize: vertical;
}

#contact-input > textarea{
    width: 100%;
    padding: 12px;
    resize: vertical;
}

@media screen and (max-width: 600px){
  .col-25, .col-75, input[type=submit]{
    width: 100%;
    margin-top: 0;
  }
}

#contact-input > input{
    width: 50%;
}
