{% extends "layout.html" %}

{% block content %}
    <h1>Error 404: Page Not Found :(</h1>
    <p>You can contact us by leaving us your details: </p>
    <form method="POST" action="">
        <input type="email" name="email" placeholder="Email" required></input>
        <input type="text" name="mobile" placeholder="Mobile Number" required></input/>
        <br><br>
        <input type="submit"></input>   
    </form>
    <p><a href="index.php">Or go back to the home page</a></p>
{% endblock %}
