{% extends "layout.html" %}

{% block nav %}
    {% include 'nav.html' %}
{% endblock %}

{% block content %}

<div id="border-frame">
    <div id="top-section">
      <h2> BOOK A TABLE </h2>
      <p>We are now open for outdoor and indoor dining in our 
        restaurant from 17th May. In order to maintain social distancing,
        any high chairs requested or prams brought with you are classed as
        a seat outside whilst we follow the rule of 6.
      </p> 
    </div>

    <div id="booking-input">
      <input type="text"   placeholder="Name:"></input>
      <input type="number" placeholder="No. of People:"></input>
      <input type="date"   placeholder=""></input> <!-- placeholder = php script to get current date -->
      <input type="time"   placeholder=""></input> <!-- placeholder = php script to get current time -->
      <input type="email"  placeholder="Email:"></input>
      <input type="text"   placeholder="Mob. No:"></input>
    </div>

    <div id="booking-submit">
      
      <div id="checkbox-div">
        <input type="checkbox"></input>
        I accept La nourriture de fantaisie 
        <a href="privacy.html" target="_blank">Privacy Policy</a>
      </div>
      <input type="submit"></input>
    </div>
</div>
{% endblock %}