{% extends "layout.html" %}

{% block nav %}
    {% include 'nav.html'%}   
{% endblock %}

{% block content %}
      <div id="border-frame">
        <div id="top-section">
          <h2> CONTACT US {{ validations.success }}</h2>
          <br>
        </div>
        <div id="contact-input">
          <form id="contact" method="POST" action="contact.php">
            <div class="row">
              <label for="qtype">Query Type:</label>
              <select id="qtype" name="qtype">
                <option value="query">Query</option>
                <option value="complaint">Complaint</option>
                <option value="other">Other</option>
              </select>
             <div class="validation">{{ validations.typeError }}</div>
            </div>   
            <div class="row">
              <label for="cname">Name</label>
              <input type="text" id="cname" name="cname" placeholder="Enter full name" size:"150"></input>
              <div class="validation">{{ validations.nameError }}</div>
            </div>
            <div class="row">
              <label for="cemail">Email address</label>
              <input required placeholder="your@email.com" value="{{ formvalues.email }}" type="email" id="cemail" name="cemail" placeholder="Enter email address" size:"150" aria-describedby="helpblock" aria-required="true"></input>
              <div class="validation">{{ validations.emailError }}</div>
            </div>
            <div class="row">
              <label for="csubject">Subject</label>
              <input type="subject" id="csubject" name="csubject" placeholder="Enter subject" size:"150"></input>
              <div class="validation">{{ validations.subjectError }}</div>
            </div>
            <div class="row">
              <label for="cmessage">Message</label>
              <textarea required maxlength="300" id="cmessage" name="cmessage" placeholder="Enter message" aria-required="true" {{ formvalues.message }}></textarea>
              <div class="validation">{{ validations.messageError }}</div>
            </div>
            <br>
            <div id="contact-submit">
              <div id="checkbox-div">
                <input type="checkbox" name="checkbox"></input>
                I accept La Nourriture de Fantaisie
                <a href="privacy.html" target="_blank">Privacy Policy</a>
                <div class="validation">{{ validations.checkboxError }}</div>
              </div>
              <input type="submit"></input>
              <br><br>
            </div>
        </form>
        <div class="validation-message">{{ validations.pagemessage }}</div>
      </div>
  
        <!--<div id="contact-input1">
          <input type="text" id="name" placeholder="Name"></input>
          <input type="email" id="email" placeholder="Email"></input>
          <input type="text" id="subject"  placeholder="Subject"></input>
          <textarea id="message" placeholder="Message"></textarea>
        </div>-->
  
        <div id="opening-hours">
          <div class="col-25">
            <h3>Opening Hours</h3>
            <p>
            Monday:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp6pm - 11pm
            <br>
            Tuesday:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp6pm - 11pm
            <br>
            Wednesday:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp6pm - 11pm
            <br>
            Thursday:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp6pm - 11pm
            <br>
            Friday:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp6pm - 12am
            <br>
            Saturday:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp10am - 12am
            <br>
            Sunday:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp10am - 12am
          </p>
          </div>
        </div>
  
        <div id="address">
          <div class="col-25">
            <h3>Address</h3>
            La Nourriture de Fantaisie,<br>
            Triq L-Imhazen,<br>
            Mdina MDN1430,<br>
            Malta
          </div>
        </div>
  
        <div id="map">
            <h3>Map</h3>
            <br>
            <div id="mapid">
            </div>
        </div>
  
        <div id="contact-details">
          <div class="col-25">
            <h3>Contact Details</h3>
            <h5>Email: </h5>
            nourrituredefantaisie@gmail.com
            <br>
            <h5>Phone Number: </h5>
            (+356) 2124 6000
          </div>
        </div>
  
      </div>
  
      <script src="assets/js/map.js"></script>
    
{% endblock %}