{% extends "layout.html" %}

{% block nav %}
    {% include 'nav.html' %}
{% endblock %}

{% block content %}
<div id="border-frame">
    <div id="top-section">
    <h2>Favourites</h2>
    <br><br><br>
    </div>
    <div id="menu-display">
        <!--Looping for all the dishes stored in the food database-->
        {% for food in food %}

        <!--Displaying the details and image for each dish-->
        <h3>{{ food.foodName }}</h3> 
        <div id="menu-image">
            <img src="{{ food.image }}" alt="{{ food.foodName }}" style="height: 350px;width: 550px;">
        </div>

        <p>{{ food.details }}</p> 
        <p><a href="menuDetails.php?id={{ food.id }}">Details about {{ food.foodName }}</a></p>
        
        <br><br><br>
    {% endfor %}
</div>
</div>
{% endblock %}
