{% extends "layout.html" %}

{% block nav %}
    {% include 'nav.html' %}
{% endblock %}

{% block content %}
    <div class="background" style="background-image: url('assets/img/food4.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <h2>Our Story</h2>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-7">
        <p>Welcome to La Nourriture de Fantaisie. Situated in the heart of the former capital city of Malta, Imdina, we take pride in delivering warm, friendly service and serving mouth-watering delights for all the family. Using only the freshest locally-sourced ingredients, we'll ensure you have a dining experience to remember.</p>
        <p>Family run since 1987, La Nourriture de Fantaisie is the perfect place for for a romantic meal for two, a catch up with friends, family parties, business meetings and bringing loved ones together. With comfortable surroundings, affordable prices and seating for up to 65 guests, we can cater for all occasions – from weddings to birthdays to christenings to anniversaries.</p>
        <p>If you’d like to arrange a party or event with us, get in touch with the team and we’ll be more than happy to help you plan your special day. Providing you with exclusive access to the entire restaurant, you’ll be able to design a custom menu that’s ideally suited to your palate, dietary and budgetary requirements.</p>
        <p>With plenty of free parking, high quality, home-cooked food, professional service and a relaxing environment, Louis & Camille Durand along with the entire team at La Nourriture de Fantaisie will be on-hand to make your time with us special and unique.</p>
       </div>
       <div class="col-5">
        <br><br>
        <img src="assets/img/home1.jpg" alt="home1" width="250" height="220">
        <img src="assets/img/home2.jfif" alt="home2" width="250" height="220">
        <img src="assets/img/home3.jpg" alt="home3" width="250" height="220">
        <img src="assets/img/home4.jpg" alt="home4" width="250" height="220">
       </div>
     </div>
    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

      <div class="container">
        <div class="row">
          <footer>
          <p>Footer Stuff</p>
        </footer>
        </div>
      </div>
{% endblock %}
