<div class="nav">
    <header class="title">
        <div class="container">
          <div class="row">
              <div class="site-heading">
                <h1>La Nourriture de Fantaisie</h1>
              </div>
              <!-- Navigation-->
              <nav class="navbar">
                  <ul>
                    <li>
                      <a href="index.php">Home</a>
                    </li>
                    <li>
                      <a href="bookATable.php">Book a Table</a>
                    </li>
                    <li>
                      <a href="menu.php">Menu</a>
                    </li>
                    <li>
                      <a href="favourites.php">Favourites</a>
                    </li>
                    <li>
                      <a href="aboutUs.php">About Us</a>
                    </li>
                    <li>
                      <a href="contact.php">Contact Us</a>
                    </li>
                  </ul>
              </nav>
          </div>
        </div>
        <br><br><br>
      </header>
    </div>
